<p id="notice"><%= notice %></p>

<p>
  <%=image_tag(@profile.profile_picture_url)%>.
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Github url:</strong>
  <%= @profile.github_url %>
</p>

<p>
  <strong>Github user:</strong>
  <%= @profile.github_user %>
</p>

<p>
  <strong>Followers:</strong>
  <%= @profile.followers %>
</p>

<p>
  <strong>Following:</strong>
  <%= @profile.following %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @profile.stars %>
</p>

<p>
  <strong>Last year contributions:</strong>
  <%= @profile.last_year_contributions %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @profile.organization %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<div class="actions">
  <%= button_to "Rescan", rescan_profile_path(@profile) %>
 </div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
